<!DOCTYPE html>
<html lang="fr"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="same-origin">
  <link rel="icon" href="data:,">
<title>Écosanté</title>
<meta property="og:title" content="Écosanté" />
<meta property="og:locale" content="fr" />
<meta property="og:site_name" content="Écosanté" />
<script type="application/ld+json">
{"@type":"WebPage","url":"/base.html","headline":"Écosanté","@context":"https://schema.org"}</script>
<link href="https://unpkg.com/template.data.gouv.fr@1.3.1/dist/main.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  
  
  
</head><body>  <header class="navbar">
    <div class="navbar__container">
      <a class="navbar__home" href="{{ url_for("pages.index") }}">
        <img class="navbar__logo" src="/assets/images/Republique_Francaise.png"
          alt="ecosante.beta.gouv.fr" />
        <img class="navbar__logo_right" src="/assets/images/logo.svg"
          alt="ecosante.beta.gouv.fr" />
      </a>

      <nav role="navigation">
        <ul class="nav__links">
          <li class="nav__item"><a class="active" href="/inscription">S'inscrire</a></li>
        </ul>
      </nav>
   </div>
  </header>


    <main role="main">
      
{% block content %}
{% endblock content %}

    </main><footer class="footer" role="contentinfo">
  <div class="container">
    <div class="footer__logo">
      <img src="/assets/images/logo-mss.svg" alt="Ministère des Solidarités et de la Santé"/>
      <img src="/assets/images/logo-mtes.svg" alt="Ministère de Transition Écologique"/>
    </div>
    <ul class="footer__links">
      <li><a href="mailto:ecosante@data.gouv.fr">Contactez-nous</a></li>
      <li><a href="{{ url_for("pages.donnees_personnelles") }}">Données personnelles</a></li>
      <li><a href="{{ url_for("stats.stats") }}">Statistiques</a></li>
    </ul>
  </div>
</footer>
</body>
</html>