{% extends 'base.html' %}

{% block content %}
{% scss "avis/css/liste.scss" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
<section class="section">
    <div class="container">
        {% for a in avis %}
           <div class="panel">
               <div class="panel__header">
                   <span class="panel__header-extra">Déposé le {{ a.date.strftime("%d/%m/%y") }}</span>
               </div>
               {% for key in ['decouverte', 'satisfaction_nombre_recommandation', 'satisfaction_frequence', 'recommandabilite', 'encore', 'autres_thematiques'] %}
               <div>
                   {% set form_attr = form|attr(key) %}
                   {% set v = a|attr(key) %}
                   <h6>{{ form_attr|attr("label")|attr("text") }}</h6>
                   {% if form_attr.choices is defined %}
                        {% if v is true %} Oui
                        {% elif v is false %} Non
                        {% elif v is string or v is integer %}
                            {% for key_choice in form_attr.choices %}
                                {% if key_choice[0] == v %}
                                    {{ key_choice[1] }}<br>
                                {% endif %}
                            {% endfor %}
                        {% elif v is iterable %}
                            {% for answer in v %}
                                {% for key_choice in form_attr.choices %}
                                    {% if key_choice[0] == answer %}
                                        {{ key_choice[1] }}<br>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                   {% else %}
                    {{ v }}
                   {% endif %}
               </div>
               {% endfor %}
           </div> 
        {% endfor %}
    </div>
</section> 
{% endblock content %}