---
---

.hero__container {
    text-align: center;
    min-height: 20em;
    h1 {
        font-size: 2.5em;
    }
}

.article-grey {
    background-color: var(--theme-background-grey);
}

.footer__logo img {
    width: 120px;
    min-height: 8em;
}

.navbar__home {
    height: unset;
}

.navbar__logo {
    height: 150px;
}

.navbar__logo_right {
    height: 34px;
}

.nav__item {
    font-size: 1.2em;
}

.screenshot__container {
    max-width: 20em;
    img {
        max-width: 100%;
    }
}

.important-text {
    font-size: 1.2em;
}

.row form {
    margin: 0 0;
}

@media (max-width: 565px) {
    .navbar__container {
        align-items: center;
    }
    .navbar__logo {
        margin-right: 0;
    }
}

.ville-autocomplete {
    input {
        border: 1px solid var(--theme-border);
        border-radius: var(--theme-border-radius);
        background-color: var(--theme-background-white);
    }
}

[hidden] {
    display: none;
}