---
---


.hero__container {
    text-align: center;
    h1 {
        font-size: 2.5em;
    }
}

.article-grey {
    background-color: var(--theme-background-grey);
}

.footer__logo img {
    width: 120px;
    min-height: 8em;
}

.navbar__home {
    height: 150px;

}

.navbar__logo_right {
    height: 34px;
}

.screenshot {
    max-width: 20em;
}

.important-text {
    font-size: 1.1em;
}

.row form {
    margin: 0 0;
}

@media (max-width: 565px) {
    .navbar__home {
        flex-direction: column;
    }

    .navbar__container {
        align-items: center;
    }
}