---
---


.hero__container {
    h1 {
        text-align: center;
    }
}

.article-grey {
    background-color: var(--theme-background-grey);
}

.footer__logo img {
    width: 120px;
    min-height: 7em;
}