{% extends "base.html" %}

{% block content %}

<section class="section section-grey">
    <div class="container">
        <div class="tiles">
            <h1>Pages</h1>
            <div class="grid">
                <a class="tile" href="{{ url_for("recommandations.list")}}">
                    <h2>🤓</h2>
                    <h3 class="text-center">Recommandations</h3>
                </a>
                <a class="tile" href="{{ url_for("newsletter.liste_avis")}}">
                    <h2>📑</h2>
                    <h3 class="text-center">Avis</h3>
                    {{ count_avis_aujourdui }} aujourd'hui
                    {{ count_avis_hier }} hier
                </a>
                <a class="tile" href="{{ url_for("newsletter.export")}}">
                    <h2>📧</h2>
                    <h3 class="text-center">Envoi de newsletters</h3>
                </a>
                <a class="tile" href="{{ url_for("avis.index") }}">
                    <h2>❣️</h2>
                    <h3 class="text-center">Questionnaire de satisfaction</h3>
                </a>
                <a class="tile" href="{{ url_for("avis.liste") }}">
                    <h2>🆒️</h2>
                    <h3 class="text-center">Page liste des questionnaires de satisfaction</h3>
                </a>

            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .tile {
        text-decoration: none;
    }
</style>

{% endblock content %}