{% extends "base.html" %}

{% block content %}

<section class="section" id="donnees-personnelles">
      <div class="container">
        <article class="article">
            <h1>Données personnelles</h1>
        
            <p>
                  Les données collectées ont exclusivement pour but de personnaliser les recommandations envoyées. 
                  Elles ne sont utilisées pour aucun autre objectif. 
                  Elles ne sont accessibles que par l’équipe Écosanté (projet porté par la <a href="https://beta.gouv.fr/">DINUM</a>, le Ministère de la Santé et le Ministère de la Transition Écologique)
                  et les services que l'équipe utilise.
            </p>
            <p>Pour toute demande de rectification et suppression de données, vous pouvez écrire un email à l'équipe écosanté : <a href="mailto:contact@recosante.beta.gouv.fr">contact@recosante.beta.gouv.fr</a>. Nous y répondrons très rapidement. 
                  Par ailleurs, les données que nous n'utilisons plus sont supprimées en moins d'un mois.</p>
         </article>
      </div>
</section>

{% endblock content %}
