{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="/assets/js/Chart.min.js"></script>
<link rel="stylesheet" href="/assets/css/Chart.min.css">
<link rel="stylesheet" href="/assets/css/stats.css">

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css' rel='stylesheet' />


<section class="section section-grey">
    <div class="container">
        <div class="panel">
            <h1><span class="number">{{ actifs }}</span> utilisateurs actifs</h1>
            <canvas id="subscriptions_chart"></canvas>
        </div>
        <div class="panel panel-carte">
            <h1>Provenance géographique des utilisateurs</h1>
            <div id="carte"></div>
        </div>
        <div class="panel user_pref">
            <h1>Préférence des utilisateurs</h1>
            <div>
                <div class="half_donut">
                    <canvas id="user_formats"></canvas>
                </div>
                <div class="half_donut">
                    <canvas id="user_frequencies"></canvas>
                </div>
            </div>
        </div>
        <div class="panel">
            <h1>Satisfaction des utilisateurs</h1>
            <h2>{{ nb_reponses }} réponses aux questionnaires</h2>
            <h3>{{ "%.2f"|format((nb_satisfaits/nb_reponses)*100) }}% des utilisateurs ayant répondu au questionnaire de satisfaction recommanderaient la newsletter Ecosanté à leur proche.</h3>
            <canvas id="decouverte_chart"></canvas>
        </div>
    </div>
</section>
<script type="text/javascript" src="/assets/js/stats.js"></script>
<script type="text/javascript" src="/assets/js/stats_map.js"></script>
<script id="media" type="application/json">{{ media|safe}}</script>
<script id="frequence" type="application/json">{{ frequence|safe}}</script>
<script id="subscriptions" type="application/json">{{ subscriptions|safe}}</script>
<script id="decouverte" type="application/json">{{ decouverte|safe}}</script>
{% endblock content %}