{% extends 'base.html' %}

{% block content %}
{% scss "pages/css/changement-atmo.scss" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
    <div class="hero" role="banner">
        <div class="hero__container">
            <h1>Écosanté évolue : confirmez votre inscription !</h1>
            <p>Merci d’être testeur·se d’Ecosanté, la lettre d’information sur la qualité de l’air. <br> Vous le savez, Écosanté est un service en constante évolution. <br> À partir du 15 mars, le service évolue et s’enrichit !</p>
            <p>Pour rester inscrit·e, c’est simple, confirmez votre inscription à la lettre d’information quotidienne en cliquant sur le bouton :</p>
            <form method="POST" action='{{ url_for('inscription.confirmer_changement', uid=uid)}}' class="full-form">
                <div class="form__group" style="margin: 0 auto;">
                    <button class="button larger" type="submit">Rester inscrit·e</button>
                </div>
            </form>

        </div>
    </div>
<div class="section section-grey">
    <div class="container">
        <h2>Qu’est-ce qui change ?</h2>
        <h4 class="bullet">La fréquence d’envoi de la lettre d’information Écosanté devient quotidienne</h4>
        <p>La pollution chronique a un impact avéré sur la santé. Pour s’en protéger, il faut agir au quotidien en adoptant de bonnes pratiques.</p>

        <h4 class="bullet">La lettre d’information sera envoyée par mail uniquement</h4>
        <p>Le mail permet de vous proposer des recommandations les plus précises possible et d’intégrer des données plus complètes.</p>

        <h4 class="bullet">Écosanté vous informe sur le risque allergique aux pollens si vous êtes concerné·e</h4>
        <p>En France, 30 % de la population seraient concerné par des allergies aux pollens. La présence de polluants dans l’air pouvant aggraver les symptômes allergiques, nous avons intégré ces données au service Écosanté.</p>

        <h4 class="bullet">La personnalisation des recommandations s’améliore en intégrant de nouveaux thèmes</h4>
        <p>Nous enrichissons notre catalogue de recommandations de manière continue afin qu’elles soient adaptées le plus possible à vos habitudes.</p>

        <h4 class="bullet">Écosanté fait peau neuve !</h4>
        <p>La lettre d’information devient plus simple et plus lisible.</p>
</div>
{% endblock content %}