{% extends 'base_form.html'%}

{% block pre_form %}
<style>
ul#recommandations {
    list-style-type: none;
}
#recommandations > li {
    display: flex;
    padding-bottom: 2ch;
}
#recommandations > li > input[type="radio"]{
    flex-shrink: 0;
}
</style>
{% endblock pre_form %}

{% block block_form %}
Rechercher : <input type="text" onchange="search(this)">
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form__group">
        <button class="button" type="submit" id="submit">Obtenir un export</button>
    </div>
    {{ render_field(form.recommandations) }}
    <div class="form__group">
        <button class="button" type="submit" id="submit">Obtenir un export</button>
    </div>
</form>

<script>
function search(search_input) {
    const recommandations = document.getElementById("recommandations")
    const lis = [...recommandations.getElementsByTagName("li")];
    const value = search_input.value.toLowerCase();
    lis.forEach( (li) => {
        const labels = [...li.getElementsByTagName("label")]
        labels.forEach((label) => {
            if (label.innerHTML.toLowerCase().includes(value)) {
                li.style.display="flex";
            } else {
                li.style.display = "none";
            }
        })
    })
}
</script>
{% endblock block_form %}