{% extends "base_form.html" %}

{% block block_form %}

<div id="progress"></div>
<div id="progress_details"></div>

<form method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    {{ render_field(form.file) }}

    <div class="form__group">
        <button class="button" type="submit" id="submit">Importer le fichier dans sendinblue</button>
    </div>

</form>

<script type="application/json" id="task_id">{"task_id": "{{ task_id }}" }</script>
{% rollupjs "newsletter/js/get_task_status.js" %}
<script type="application/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock block_form %}