{% extends 'base_form.html'%}
{% block pre_form %}

<div class="hero">
      <div class="hero__container" role="banner">
        <h1>Devenir testeur.se</h1>
        <p>Pour recevoir des alertes personnalisées, nous vous invitons à répondre à un questionnaire sur votre vos habitudes, vos modes de déplacement, et votre santé.</p>
      </div>
</div>
{% endblock pre_form %}

{% block block_form %}
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.mail, autofocus=form.mail.data == None) }}
    {{ render_field(form.ville_entree, autofocus=form.mail.data != None, class_="ville-autocomplete" )}}
    {{ render_field(form.frequence) }}
    {{ render_field(form.diffusion) }}
    {{ render_field(form.telephone) }}
    <div class="form__group">
        <p>En passant à l'étape suivante vous consentez à partager vos données personnelles avec l'équipe écosanté <a href="#donnees-personnelles">En savoir plus</a></p>
        <button class="button" type="submit" id="submit">S'inscrire et personnaliser son profil</button>
    </div>
</form>

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"
/>

<script>
document.addEventListener("DOMContentLoaded", function(event) {
  var autocomplete = new Autocomplete('#ville_entree', {
    search: input => {
      const url = `https://geo.api.gouv.fr/communes?&boost=population&fields=nom,code&format=json&nom=${encodeURI(input)}`

      return new Promise(resolve => {
        if (input.length < 3) {
          return resolve([])
        }

        fetch(url)
          .then(response => response.json())
          .then(data => {
            resolve(data)
          })
      })
    },
    getResultValue: result => result.nom,
    onSubmit: ville => {
      document.getElementById("ville_insee").value = ville.code
      document.getElementById("ville_name").value = ville.nom
    }
  })
  autocomplete.input.addEventListener('keydown', (event) => {
      const { key } = event
      if (key == 'Enter') {
        event.preventDefault();
      }
  });

  parent_telephone = document.getElementById('telephone').parentElement.parentElement
  parent_telephone.style.visibility = 'hidden'
  parent_telephone.style.display = 'none'
  const diffusion_inputs = [...document.getElementsByName("diffusion")]
  diffusion_inputs.forEach(
    (input) => {
      input.addEventListener('change', (event) => {
        if (event.target.value === 'sms') {
          parent_telephone.style.visibility = 'visible'
          parent_telephone.style.display = 'contents'
        } else {
          parent_telephone.style.visibility = 'hidden'
          parent_telephone.style.display = 'none'
        }
      })
    }
  )

});
</script>
{% endblock block_form %}