{% extends "base_form.html" %}
{% block content %}

<h1>Export</h1>
<ul>

{% for recommandation_form in recommandations_forms %}

<li>
<form method="POST">
    {{ recommandation_form.hidden_tag() }}
    {{ render_field(recommandation_form.recommandation) }}
    {{ render_field(recommandation_form.precisions) }}
    {{ render_field(recommandation_form.recommandation_format_SMS) }}
    <div class="form__group">
        <button class="button" type="submit" id="submit">Éditer</button>
    </div>
</form>
</li>
{% endfor %}

</ul>

<script>
document.addEventListener('DOMContentLoaded', e=>{
    window.location.href = "{{ url_for("newsletter.csv", secret_slug=secret_slug, **args) }}";
})
</script>

{% endblock content %}