{% extends 'base.html' %}
{% block content %}
    
<section class="section">
    <div class="container">
        <h1>Inscriptions</h1>
        <a href="./export">Export CSV</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Mail</th>
                    <th>Ville</th>
                    <th>Diffusion</th>
                    <th>Fréquence</th>
                    <th>Déplacement</th>
                    <th>Activités</th>
                    <th>Pathologie respiratoire</th>
                    <th>Allergie pollen</th>
                    <th>Inscription</th>
                </tr>
            </thead>
            <tbody>
                {% for inscription in inscriptions %}
                <tr>
                    <td>{{ inscription.mail }}</td>
                    <td>{{ inscription.ville_name }}</td>
                    <td>{{ inscription.diffusion }}</td>
                    <td>{{ inscription.frequence }}</td>
                    <td>{{ inscription.deplacement | oxford_comma }}</td>
                    <td>{{ inscription.activites | oxford_comma }}</td>
                    <td>{{ inscription.patdologie_respiratoire | display_check }}</td>
                    <td>{{ inscription.allergie_pollens | display_check }}</td>
                    <td>{{ inscription.date_inscription }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>
{% endblock content %}