{% extends 'base_form.html'%}

{% block pre_form %}
<div class="hero">
    <div class="hero__container">
        <h1>Personnaliser vos recommandations</h1>
        <p>Afin de recevoir des recommandations d’actions personnalisées en fonction de vos habitudes et de votre santé, vous pouvez renseigner plus d’informations en répondant au questionnaire suivant :</p>
    </div>
</div>
{% endblock %}

{% block block_form %}
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.deplacement )}}
    {{ render_field(form.activites) }}
    {{ render_field(form.enfants) }}
    {{ render_field(form.pathologie_respiratoire )}}
    {{ render_field(form.allergie_pollen) }}
    {{ render_field(form.fumeur) }}
    <div class="form__group">
        <button class="button" type="submit" id="submit">Enregistrer ces informations</button>
    </div>
</form>
{% endblock block_form %}