{% extends "base_form.html" %}

{% block block_form %}
{% scss "newsletter/css/avis.scss" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}
<div class="section">
    <div class="container">
        <div class="panel">
            <div class="notification">
                <h5>Votre avis a bien été pris en compte</h5>
                <p>Merci pour votre contribution ! C'est grâce à vos retours que nous construisons un service utile !</p>
            </div>

            {% if not nl.appliquee %}
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.avis)}}
                <div class="form__group">
                    <button class="button" type="submit" id="submit">Envoyer</button>
                </div>
            </form>
            {% endif %}
            <div class="panel-grey recommandation">
                <h3>Recommandation</h3>
                <h6>{{ nl.recommandation.recommandation | safe }}</h6>
                <p>
                    {{ nl.recommandation.precisions | safe }}
                </p>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock block_form %}