{% extends "base_form.html" %}
{% block content %}

<h1>Export</h1>

<a href="{{url_for("inscription.import_")}}">Importer une liste dans sendinblue</a>
<br>
<a href="{{url_for("newsletter.link_export") }}">Obtenir un autre export</a>
<br>
<a href="{{url_for("newsletter.csv_", **request.args.to_dict(flat=False))}}">Télécharger le csv</a>
<br>
<a href="{{url_for("newsletter.send", **request.args.to_dict(flat=False))}}" class="button">Envoyer la newsletter avec ces recommandations</a>

<section class="section">
    <div class="container">
        {% if form_indices.indices %}
            <div class="panel">
            <form method="POST" action="{{ url_for("newsletter.edit_indices", **request.args.to_dict(flat=False))}}">
                {{ form_indices.hidden_tag() }}
                {% for form_indice in form_indices.indices.entries %}
                {{ form_indice.hidden_tag() }}
                {{ render_field(form_indice.indice) }}
                {% endfor %}
                <div class="form__group">
                    <button class="button" type="submit" id="submit">Ajouter les indices</button>
                </div>

                </form>
            </div>
        {% endif %}

        <form method="POST" action="{{ url_for("newsletter.edit_recommandations", **request.args.to_dict(flat=False))}}">
        {{ form_recommandations.hidden_tag() }}
        {% for form_recommandation in form_recommandations.recommandations.entries %}
            <div class="panel">
                    {{ form_recommandation.hidden_tag() }}
                    {{ render_field(form_recommandation.recommandation) }}
                    {{ render_field(form_recommandation.precisions) }}
                    {{ render_field(form_recommandation.recommandation_format_SMS) }}
                    <div class="form__group">
                        <button class="button" type="submit" id="submit">Éditer</button>
                        {% set new_args = request.args.copy() %}
                        {% set reco_value = form_recommandation.__getitem__("id").data %}
                        {% set never_used = new_args.add("remove_reco",  reco_value) %}
                        <a href="{{ url_for("newsletter.link_export", **new_args.to_dict(flat=False)) }}" class="button warning">Ne pas utiliser</a>
                    </div>
            </div>
        {% endfor %}
        </form>

    </div>
</section>
{% scss "newsletter/css/link_export.scss" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}

{% endblock content %}