
{% extends 'base_admin.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="main">
            <h1>Avis sur la newsletter hebdo</h1>
            <div class="section section-grey">
                <div class="container">
                    <div class="tiles">
                        <div class="grid">
                            <div class="tile">
                                <div class="tile__icon">Nombre d’envois</div>
                                <h3>{{ nb_envois }}</h3>
                            </div>
                            <div class="tile">
                                <div class="tile__icon">Nombre d’avis</div>
                                <h3>{{ nb_avis }}</h3>
                            </div>
                            <div class="tile">
                                <div class="tile__icon">Nombre d’avis positifs</div>
                                <h3>{{ nb_avis_positifs }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="panel">
                <h2>Avis par newsletters</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Newsletter</th>
                            <th>Nombre d’envois</th>
                            <th>Nombre d’avis</th>
                            <th>Nombre d’avis positifs</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for nl in liste_avis_hebdos %}
                        <tr>
                            <td><a href="https://my.sendinblue.com/camp/template/{{ nl.sib_id }}/message-setup" target="_blank">{{ nl.sib_id }}</a></td>
                            <td>{{ nl.nb_envois }}</td>
                            <td>{{ nl.nb_avis }}</td>
                            <td>{{ nl.nb_avis_positifs }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>        
    </div>
</section>
<script type="text/javascript">
    window.onload = () => {
        const options = {
            method: 'GET',
            headers: {
              accept: 'application/json',
              'api-key': '{{ sib_api_key }}'
            }
        };
        document.querySelectorAll('tbody > tr').forEach(
	        tr => {
                let td = tr.cells[0];
                let innera = td.children[0]
                fetch(`https://api.sendinblue.com/v3/smtp/templates/${innera.innerHTML}`, options)
                    .then(response => response.json())
                    .then(response => {
                        innera.innerHTML = response.name
                    })
                    .catch(err => console.error(err));
            }
        )
    }
</script>
{% endblock content %}