<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {% if page.banner_title or page.banner_subtitle %}
      <div class="hero" role="banner">
        <div class="hero__container">
          {% if page.banner_title %}
          <h1>{{ page.banner_title }}</h1>
          {% endif %}
          {% if page.banner_subtitle %}
          <p>{{ page.banner_subtitle }}</p>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <main role="main">
      {{ content }}
    </main>

    {%- include footer.html -%}

  </body>
</html>