{% extends 'base_form.html'%}

{% block block_form %}
{% scss "recommandations/css/list.scss" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}

<div class="section">
    <div class="container">
        <a href="{{ url_for("recommandations.add")}}">Ajouter une recommandation</a>
        <form method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.search) }}
        {{ render_field(form.categories)}}
        <input type="submit" value="Rechercher">
        </form>
        <ul>
        {% for recommandation in recommandations %}
            <li>
                <details>
                    <summary> {{ recommandation.recommandation }}</summary>
                    <p> {{ recommandation.precisions}} </p>
                </details>
                <p>
                {% for f in recommandation.filtres %}
                <abbr title="{{ f[2] }}">{{ f[1] }}</span>
                {% endfor %}
                </p>
                <a href="{{ url_for("recommandations.edit", id=recommandation.id) }}">Éditer</a>
                <a href="{{ url_for("recommandations.remove", id=recommandation.id) }}">Supprimer</a>
                <a href="{{ url_for("recommandations.details", id=recommandation.id) }}">Avis</a>
            </li>
        {% endfor %}

        </ul>
    </div>
</div>

{% endblock block_form %}